MakeGame/obj/Debug/net5.0/apphost.exe
MakeGame/obj/MakeGame.csproj.nuget.dgspec.json
MakeGame/obj/MakeGame.csproj.nuget.g.props
MakeGame/obj/MakeGame.csproj.nuget.g.targets
MakeGame/obj/project.assets.json
MakeGame/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
MakeGame/obj/Debug/net5.0/MakeGame.AssemblyInfo.cs
MakeGame/obj/Debug/net5.0/MakeGame.AssemblyInfoInputs.cache
MakeGame/obj/Debug/net5.0/MakeGame.assets.cache
MakeGame/obj/Debug/net5.0/MakeGame.csproj.AssemblyReference.cache
MakeGame/obj/Debug/net5.0/MakeGame.csproj.FileListAbsolute.txt
MakeGame/obj/Debug/net5.0/MakeGame.GeneratedMSBuildEditorConfig.editorconfig
.vs/MakeGame/DesignTimeBuild/.dtbcache.v2
.vs/MakeGame/v16/.suo
